 body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('pexels-manuel-geissinger-325229.jpg');
            background-size: cover;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        section {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .form-caixa {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease-in-out;
        }

        .form-caixa:hover {
            transform: scale(1.05);
        }

        .form-value {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .input-caixa {
            position: relative;
            margin-bottom: 20px;
            transition: transform 0.2s ease-in-out;
        }

        .input-caixa:hover {
            transform: scale(1.05);
        }

        ion-icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #555;
        }

        input {
            width: calc(100% - 30px);
            padding: 10px;
            padding-left: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s ease-in-out;
        }

        input:focus {
            border-color: #4CAF50;
        }

        label {
            position: absolute;
            top: 50%;
            left: 45px;
            transform: translateY(-50%);
            color: #777;
            transition: color 0.3s ease-in-out;
        }

        .input-caixa:hover label {
            color: #4CAF50;
        }

        .esquecer {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            color: #555;
        }

        #marca_box {
            margin-right: 5px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            text-align: center;
            margin-top: 10px;
        }